{% extends "TwigBundle::layout.html.twig" %}

{% block title %}{{ 'error_page.an_error_occurred'|trans({}, 'StrokitCoreBundle') }}: {{ status_text }}{% endblock %}
{% block body %}
    <h1>{{ 'error_page.an_error_occurred_title'|trans({}, 'StrokitCoreBundle') }}</h1>
    <h2>{{ 'error_page.error_message'|trans({'%status_code%': status_code, '%status_text%': status_text}, 'StrokitCoreBundle') }}</h2>
{% endblock %}