<div class="popup_main_block">
    <div class="popup_content">
        {#<h5>{{ sections.name }}</h5>#}
        {% for question_answer in questions_answers%}
            <h5>{{ question_answer.question}}</h5>
            <span>{{ question_answer.answer }}</span>
        {% endfor %}
    </div>
</div>