@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../fonts/gothaprobol.eot');
    src: url('../fonts/gothaprobol.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothaprobol.woff') format('woff'),
         url('../fonts/gothaprobol.ttf') format('truetype'),
         url('../fonts/gothaprobol.svg#gotham_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaneueBold';
    src: url('../fonts/helveticaneue-bold.eot');
    src: url('../fonts/helveticaneue-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-bold.woff') format('woff'),
         url('../fonts/helveticaneue-bold.ttf') format('truetype'),
         url('../fonts/helveticaneue-bold.svg#HelveticaneueBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
