*{
	margin:0px;
	padding:0px;
	border:none;
	list-style:none;
	outline: none;
}
body, html {
	margin:0px;
	padding:0px;
	height: 100%;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 10px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
.clear{
	clear: both;
}
li.clear{
	clear: both;
	padding: 0!important;
	float: none!important;
	width: 0!important;
}
.clear-fix:before,
.clear-fix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear-fix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clear-fix {
    *zoom: 1;
    display: inline-block;
}
.last{
	padding-right: 0!important;
	margin-right: 0!important;
	border: none!important;
}
.first{
	padding-left: 0!important;
}
.red{
	color: #ce080f;
}
h1{
	font-size: 41px;
	padding: 15px 0 15px 0;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 32px;
}
h4{
	font-size: 26px;
}
h5{
	font-size: 22px;
}
h6{
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'GothamPro-Bold';
    color: #fff;
    text-transform: uppercase;
}
h2, h3{
	padding-bottom: 15px;
	padding-top: 15px;
}
h4, h5, h6{
	padding-bottom: 10px;
	padding-top: 10px;
}
.title{
    font-size: 35px;
    color: #fff;
    padding: 0 0 22px 0;
}
p{
	font-size: 14px;
	padding: 9px 0;
    color: #fff;
    line-height: 19px;
}
table caption{
	padding-bottom: 4px;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
}
th{
	padding: 10px;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
td{
	padding: 10px;
	font-size: 12px;
	color: #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
table{
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-collapse: collapse;
}
a{
	color: #fff;
	text-decoration: none;
    border-bottom: 1px solid #7fb861;
}
a:hover{
	border-bottom: none;
}
ul li{
	padding: 10px 0 5px 13px;
	font-size: 12px;
	color: #fff;
	background-image: url(../img/li-back.png);
	background-repeat: no-repeat;
	background-position: 1px 5px;
}
ul li ul{
	padding: 0 0 0 15px;
}
ol {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
ol li{
	padding: 0 0 9px 0;
	font-size: 12px;
	color: #fff;
	list-style: decimal inside;
}
dt{
	 color: #08266b;
	 font-size: 14px;
	 font-weight: 600;
}
dd{
	 padding:0 0 10px 15px;
	 font-size: 12px;
	 font-style: italic;
	 padding-top: 10px;
	 color: #fff;
}
.blue{
	color: #14498a;
}
.grey{
	color: #808080;
}
.green{
	color: #2ea607;
}
.red{
	color: #fe0000;
}
#body{
	width: 100%;
	height: 100%;
}
#wrapper{
	max-width: 1307px;
    min-width: 946px;
    padding: 0 25px 0 25px;
	min-height: 100%;
    margin: 0 auto;
}
.backstretch{
    background-color: #29901b;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #95d09e;
}
input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder,
textarea:-moz-placeholder {
    color: #95d09e;
}

.header{
    height: 125px;
    position: relative;
    font-family: 'GothamPro-Bold';
    padding: 0 0 25px 0;
    display: block;
    text-transform: uppercase;
}
.header .logo{
    float: left;
    padding: 57px 0 0 0;
}
.header .logo a{
    border-bottom: none;
}
.header .intro{
    font-size: 11px;
    text-transform: uppercase;
    padding: 77px 0 0 17px;
    width: 46.6%;
    float: left;
    color: #fff;
    line-height: 14px;
}
.header .social{
    position: absolute;
    top: 24px;
    left: 225px;
}
.social{

}
.social ul li{
    float: left;
    padding: 0 13px 0 0;
    background-image: none;
    width: 25px;
    height: 25px;
}
.social ul li .icon{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../img/social.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
}
.social ul li .facebook{
    background-position: 0 0;
}
.social ul li .twitter{
    background-position: -38px 0;
}
.social ul li .rss{
    background-position: -74px 0;
}
.social ul li .odnoklassniki {
    background-position: -110px 0;
}
.social ul li .youtube{
    background-position: -148px 0;
}
.header .lang{
    position: absolute;
    right: 0;
    top: 24px;
}
.lang{

}
.lang ul li{
    float: left;
    padding: 0 10px;
    margin: 0 7px 0 0;
    background-image: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 23px;
}
.lang ul li.active{
    border: 1px solid #fff;
}
.lang ul li a{
    border-bottom: none;
    color: #a3d096;
}
.lang ul li a:hover{
    border-bottom: 1px solid #7fb861;
}
.lang ul li.active a{
    color: #fff;
}


.search{
    float: right;
    padding: 70px 0 0 0;
    width: 25.7%;
    border-bottom: 1px solid #62a452;
}
.search input[type=text]{
    background-color: transparent;
    height: 40px;
    width: 80%;
    font-size: 18px;
    color: #fff;
    text-transform: none;
}
.search button{
    width: 35px;
    height: 35px;
    background-image: url(../img/search-icon.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    float: right;
    margin: 0 3px 0 0;
    cursor: pointer;
}

.header .login{
    position: absolute;
    top: 30px;
    right: 230px;
    color: #a3d096;
    font-size: 11px;
}
.header .login a{
    color: #a3d096;
    border-bottom: none;
}
.header .login a:hover{
    border-bottom: 1px solid #7fb861;
}

.content{
    padding: 40px 0 20px 0;
}
.inner{
    padding-top: 0;
}
.blocks{
    text-align: left;
    line-height: 0;
    width: 71%;
    float: left;
}
.w80{
    width: 80%;
}
.w40{
    width: 40%;
}
.w80 .w40{
    width: 50%;
}
.w20{
    width: 20%;
}
.w80 .w20{
    width: 25%;
}
.w40 .w20{
    width: 50%;
}
.blocks a{
    border: none;
}
.blocks .block{
    display: block;
    float: left;
    margin: 0 0 10px 0;
    vertical-align: top;
    font-family: 'GothamPro-Bold';
    overflow: hidden;
}
.blocks .block img{
    width: 100%;
    height: auto;
    position: relative;
}
.blocks .block .inner-block{
    margin: 0 10px 0 0;
    position: relative;
    z-index: 5;
}
.blocks .block .inner-block:hover img{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: url(blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}
.blocks .has-child{
    margin-bottom: 0;
    margin-right: 0;
}
.blocks .color-block h2{
    position: absolute;
    top: 34%;
    left: 39%;
    padding: 0 0 0 0;
    font-size: 250%;
    line-height: normal;
    color: #fff;
}
.blocks .white-block .inner-block{
    background-color: #FFF;
}
.blocks .white-block .inner-block .img{
    position: relative;
}
.blocks .white-block h2{
    font-size: 1.1em;
    color: #000;
    padding: 0 0 0 0;
    position: absolute;
    left: 10px;
    bottom: 13px;
    line-height: normal;
}
.blocks .mask{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.orange-back{
    background-color: #ff5a00;
}
.blue-back{
    background-color: #0062ff;
}

.right-sub-coll{
    float: right;
    width: 28%;
}
.date{
    font-size: 12px;
    color: #fff;
    padding: 0 0 4px 0;
}
.main-news{
    padding: 0 0 0 28px;
    min-height: 375px;
}
.main-news li{
    padding: 0 0 52px 0;
    background-image: none;
}
.main-news li h2{
    padding: 0 0 0 0;
    font-size: 14px;
    line-height: 18px;
}

.feature{
    border: 7px solid #fff;
    padding: 30px 27px 23px 27px;
}
.feature h3{
    color: #fff;
    padding: 0 0 7px 0;
    font-size: 20px;
    line-height: 22px;
}
.feature p{
    font-size: 13px;
    padding: 0 0 0 0;
}


.mobile-apps-block{
    padding: 20px 0 24px 0;
}
.mobile-apps-block ul li a{
    border-bottom: none;
}
.mobile-apps-block ul li{
    float: left;
    padding: 0 47px 0 0;
    background-image: none;
}

.feedback{
    width: 82.11111%;
}
.item{
    padding: 0 0 34px 0;
}
.item input[type=text],
.item input[type=email]{
    background-color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'GothamPro-Bold';
    color: #95d09e;
    height: 38px;
    padding: 0 14px;
    width: 45.1%;
    margin: 0 4.5% 0 0;
    float: left;
}
.margin-none{
    margin: 0!important;
}
.item input.mini-input{

}
.item .textarea{
    background-color: #FFF;
    height: 325px;
    padding: 14px;
}
.item .textarea textarea{
    height: 100%;
    width: 100%;
    font-family: 'GothamPro-Bold';
    font-size: 11px;
    text-transform: uppercase;
    color: #95d09e;
    resize: none;
}
.item .error{
    background-color: #f24841!important;
    color: #fff!important;
    height: 36px!important;
    width: 44.9%!important;
    border: 1px solid #ff0000;
}
.item a.captcha-img{
    display: inline-block;
    margin: 0 4.5% 0 0;
    border: none;
    float: left;
}
.captcha-block input[type=text]{
    width: 23.4%;
}
.captcha-block input[type=submit],
.captcha-block button[type=submit]{
    width: 47.6%;
    font-family: 'GothamPro-Bold';
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    height: 38px;
    text-align: center;
    float: right;
    background-color: #ff5a00;
}

.button{
    font-family: 'GothamPro-Bold';
    font-size: 13px;
    text-transform: uppercase;
    color: #fff!important;
    height: 38px;
    padding: 0 15px;
    line-height: 38px;
    background-color: #ff5a00;
    display: inline-block;
    margin: 0 19px 0 0;
    border: none;
}
.button:hover{
    text-decoration: underline;
}
.orange-button{
    background-color: #ff5a00;
}
.blue-button{
    background-color: #0062ff;
}


.comment-form{
    padding: 27px 0 0 0;
    margin: 17px 0 0 0;
    border-top: 1px solid #e3e3e3;
}
.comment-form .item{
    padding: 0 0 16px 0;
}
.comment-form .item input[type=text],
.comment-form .item input[type=email]{
    width: 227px;
    float: none;
    margin: 0 19px 0 0;
}
.comment-form .item .textarea{
    height: 76px;
}
.comment-form .item input[type=submit],
.comment-form .item button[type=submit]{
    width: auto;
    font-family: 'GothamPro-Bold';
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    height: 38px;
    text-align: center;
    background-color: #ff5a00;
}
.comment-form .captcha-block input[type=submit],
.comment-form .captcha-block button[type=submit]{
    float: none;
}
.comment-form .item.captcha-block img {
    margin: 0 19px 0 0;
}

.feedback-accept{
    padding: 0 0 20px 0;
}
.feedback-accept .accept-text{
    float: left;
    width: 68%;
    padding: 70px 0 0 0;
}
.feedback-accept h1{
    font-size: 52px;
    padding: 0 0 33px 0;
}
.feedback-accept p{
    font-size: 17px;
    padding: 0 0 69px 0;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.blocks.more-sub-block-menu{
    float: right;
    width: 28.8%;
}

.feedback-link{
    position: fixed;
    border: 1px solid #9bd098;
    border-top: none;
    left: -172px;
    top: 50%;
    height: 23px;
    width: 366px;
    line-height: 23px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    font-size: 11px;
    color: #8ec890;
    text-align: center;
    font-family: 'GothamPro-Bold';
    text-transform: uppercase;
}
.feedback-link:hover{
    border-bottom: 1px solid #9bd098;
    text-decoration: underline;
}

.footer,
.temp{
    height: 37px;
}
.footer{
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0 0 0 0;
    position: fixed;
    z-index: 15;
    background-color: #FFF;
}
.footer .sub-footer{
    max-width: 1307px;
    min-width: 946px;
    padding: 0 25px 0 25px;
    margin: 0 auto;
}
.footer-menu{
    padding: 0 0 0 5px;
}
.footer-menu li{
    float: left;
    padding: 13px 31px 0 0;
    background-image: none;
    font-size: 10px;
    text-transform: uppercase;
    color: #000;
    position: relative;
    font-family: 'HelveticaneueBold';
}
.footer-menu li.has-child a{
    padding: 0 10px 0 0;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: 100% 4px;
}
.footer-menu li.has-child.hovered a{
    background-image: url(../img/arrow-active.png);
}
.footer-menu li a{
    border: none;
    color: #000;
}
.footer-menu li a:hover{
    text-decoration: underline;
}
.footer-menu .drop-menu{
    position: absolute;
    display: none;
    bottom: 21px;
    left: -11px;
    background-color: #FFF;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.31);
    width: 89px;
    padding: 13px 9px 11px 13px;
}
.footer-menu .drop-menu ul{
    padding: 0 0 0 0;
}
.footer-menu .drop-menu ul li{
    float: none;
    padding: 0 0 13px 0;
}
.footer-menu .drop-menu ul li a{
    background-image: none!important;
}


.feedback-link{
    position: fixed;
    border: 1px solid #9bd098;
    border-top: none;
    left: -172px;
    top: 50%;
    height: 23px;
    width: 366px;
    line-height: 23px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    font-size: 11px;
    color: #8ec890;
    text-align: center;
    font-family: 'GothamPro-Bold';
    text-transform: uppercase;
}
.feedback-link:hover{
    border-bottom: 1px solid #9bd098;
    text-decoration: underline;
}


.breadcrumb{
    padding: 0 0 15px 0;
}
.breadcrumb ul li{
    float: left;
    padding: 0 11px 0 0;
    background-image: none;
    color: #46ac70;
}
.breadcrumb a{
    font-size: 11px;
    color: #fff;
    border: none;
    font-family: 'GothamPro-Bold';
    text-transform: uppercase;
    padding: 6px 11px 3px 0;
    color: #46ac70;
}
.breadcrumb a:hover{
    text-decoration: underline;
}
.breadcrumb ul :first-child a{
    padding-left: 26px;
    background-image: url(../img/bred-arrow.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.scroll-block{
    overflow: hidden;
    position: relative;
}
.full-block{
    padding: 35px;
    background-color: #FFF;
    min-width: 800px;
    max-width: 1100px;
}
.popup-pad{
    padding: 0 20px 0 0;
}
.full-block p,
.full-block ul li,
.full-block ol li,
td,th{
    color: #000;
}
.full-block h1,
.full-block h2,
.full-block h3,
.full-block h4,
.full-block h5,
.full-block h6{
    color: #ff9600;
}
.full-block a{
    color: #2ea607;
}


.comments{
    padding: 20px 0 0 0;
}
.comments h2{
    font-size: 22px;
    color: #dadada;
    padding: 42px 0 0 0;
    border-bottom: 1px solid #dadada;
    margin: 0 0 20px 0;
}
.comments ul li{
    padding: 0 0 20px 0;
    background-image: none;
}
.comments ul li .grey-who{
    font-size: 11px;
    color: #a5a5a5;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-style: italic;
    padding: 0 0 5px 0;
}
.comments ul li .comment,
.comments ul li .comment p{
    font-size: 12px;
    color: #000;
    padding: 0 0 0 0;
}
.comments .show-full{
    font-size: 10px;
    color: #00a8ff;
    border: none;
    text-decoration: underline;
}
.comments .show-full:hover{
    text-decoration: none;
}
.correct-padding-div h2{
    padding: 0 0 3px 0;
}
.correct-padding-div p{
    padding: 0 0 25px 0;
}

.full-block .date{
    font-style: italic;
    font-size: 11px;
    color: #a5a5a5;
    padding: 0 0 0 0;
}

.news-list{
}
.news-list ul{
    padding: 7px 0 0 4px;
}
.news-list ul li{
    display: inline-block;
    width: 30%;
    padding: 0 3px 53px 0;
    background-image: none;
}
.news-list li h2{
    padding: 0 20% 0 0;
    font-size: 14px;
    line-height: 18px;
}


.pagination{
    text-align: center;
    padding: 0 0 41px 0;
}
.pagination.green{
    padding: 8px 0 11px 0;
}
.pagination ul li{
    padding: 0 23px 0 0;
    background-image: none;
    display: inline-block;
    font-size: 14px;
    width: auto;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.pagination ul li a{
    border: none;
    color: #fff;
}
.pagination.green ul li a{
    color: #25a236;
}
.pagination ul li a:hover{
    text-decoration: underline;
}

.main-map{
    margin: 0 0 10px 0;
}
.map-text{
    width: 165px;
    padding: 18px 0 18px 11px;
}
.map-text h2{
    padding: 0 0 5px 0;
    font-size: 13px;
    color: #ff5a00;
}
.map-text h2 a{
    color: #0096ff;
    font-family: 'GothamPro-Bold';
    border-bottom: 1px solid #bfe5ff;
}
.map-text h2 a:hover{
    border-bottom: none;
}
.map-text p{
    color: #000;
    font-size: 12px;
    padding: 0 0 0 0;
}
.big-map{
}
.main-map{
    position: relative;
    overflow: hidden;
    background-color: #e5e3df;
}
.main-map i{
    position: absolute;
    display: block;
/*box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75) ;*/
}
.map-top {
    top: -15px;
    left: 0;
    right: 0;
    height: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75) ;
}
.map-right {
    right: -15px;
    top: 0;
    bottom: 0;
    width: 15px;
    box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.75) ;
}
.map-bottom {
    bottom: -15px;
    left: 0;
    right: 0;
    height: 15px;
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.75) ;
}
.map-left {
    left: -15px;
    top: 0;
    bottom: 0;
    width: 15px;
    box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.75) ;
}
.map-list-link{
    position: absolute;
    top: 3px;
    left: 5px;
    width: 53px;
    height: 34px;
    background-image: url(../img/map-list.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #ff5a00;
    border: none;
    display: block;
    padding: 15px 11px 0 34px;
    font-size: 10px;
    line-height: 11px;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.map-list-link:hover{
    text-decoration: underline;
}


.white-back-block{
    position: relative;
    background-color: #FFF;
    margin: 0 0 10px 0;
    padding: 41px 0 30px 125px;
}
.map-list li{
    display: inline-block;
    width: 24%;
    padding: 0 0 14px 0;
    background-image: none;
}
.num-block{
    height: 75px;
    overflow: hidden;
    padding: 0 22% 0 0;
}
.num-block .num{
    float: left;
    width: 15px;
    overflow: hidden;
    color: #aaa;
    font-size: 10px;
    height: 100%;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.num-block .n-b-text h2{
    padding: 0 0 6px 0;
    font-size: 13px;
    color: #ff5a00;
}
.num-block .n-b-text h2 a{
    color: #0096ff;
    border-bottom: 1px solid #bfe5ff;
}
.num-block .n-b-text h2 a:hover{
    border-bottom: none;
}
.num-block .n-b-text p{
    color: #000;
    font-size: 12px;
    padding: 0 0 0 0;
    line-height: 14px;
}
.to-map-link{
    position: absolute;
    top: 14px;
    left: 12px;
    width: 60px;
    background-image: url(../img/map-list-link.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #ff5a00;
    border: none;
    display: block;
    padding: 4px 0 5px 27px;
    font-size: 10px;
    line-height: 11px;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.to-map-link:hover{
    text-decoration: underline;
}

.scroll-block{
    overflow: hidden;
    position: relative;
}
.full-block{
    padding: 35px;
    background-color: #FFF;
    min-width: 800px;
    max-width: 1100px;
}
.popup-pad{
    padding: 0 20px 0 0;
}
.full-block p,
.full-block ul li,
.full-block ol li,
td,th{
    color: #000;
}
.full-block h1,
.full-block h2,
.full-block h3,
.full-block h4,
.full-block h5,
.full-block h6{
    color: #ff9600;
}
.full-block a{
    color: #2ea607;
}


.comments{
    padding: 20px 0 0 0;
}
.comments h2{
    font-size: 22px;
    color: #dadada;
    padding: 42px 0 0 0;
    border-bottom: 1px solid #dadada;
    margin: 0 0 20px 0;
}
.comments ul li{
    padding: 0 0 20px 0;
    background-image: none;
}
.comments ul li .grey-who{
    font-size: 11px;
    color: #a5a5a5;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-style: italic;
    padding: 0 0 5px 0;
}
.comments ul li .comment,
.comments ul li .comment p{
    font-size: 12px;
    color: #000;
    padding: 0 0 0 0;
}
.comments .show-full{
    font-size: 10px;
    color: #00a8ff;
    border: none;
    text-decoration: underline;
}
.comments .show-full:hover{
    text-decoration: none;
}
.correct-padding-div h2{
    padding: 0 0 3px 0;
}
.correct-padding-div p{
    padding: 0 0 25px 0;
}


.news-full{

}
.news-full h1{
    padding: 0 0 15px 0;
    font-size: 22px;
}
.full-block .date{
    font-style: italic;
    font-size: 11px;
    color: #a5a5a5;
    padding: 0 0 0 0;
}
.news-full p{
    padding: 0 0 18px 0;
}

.share{

}
.share ul li{
    padding: 0 16px 10px 0;
    background-image: none;
    float: left;
}
.share ul li a{
    border: none;
}
