<div id="content">
    <div id="siteNotice">
    </div>
    <h2 id="firstHeading" class="firstHeading">{{ terminal.address }}</h2>

    <div id="bodyContent">
        <p>{{ terminal.description }}</p>
    </div>
</div>