{% extends "::base.html.twig" %}

{% block body %}
    <div class="feedback-accept">
        <div class="accept-text">
            <h1>{{ 'message_send'|trans({}, 'InfoFeedbackBundle') }}</h1>
            <p>
                {#Тут текст который пояснит что сообщение отправлено и что все хорошо текст может быть 2-3 строчки#}
            </p>
            <a class="orange-button button" href="#">вернуться на главную</a>
            <a class="blue-button button" href="#">Написать сообщение</a>

        </div>
        <div class="blocks more-sub-block-menu">
            <div class="block w100">
                <div class="inner-block">
                    <div class="img">
                        <img src="{{ asset('public/img/img1.png') }}" alt="Как стать пользователем">
                    </div>
                    <a class="mask" href="#"></a>
                </div>
            </div>
            <div class="block white-block w50">
                <div class="inner-block">
                    <div class="img">
                        <img src="{{ asset('public/img/faq-icon.png') }}" alt="Faq">
                    </div>
                    <h2>faq<br> помощь</h2>
                    <a class="mask" href="#"></a>
                </div>
            </div>
            <div class="block white-block w50">
                <div class="inner-block">
                    <div class="img">
                        <img src="{{ asset('public/img/all-icon.png') }}" alt="All">
                    </div>
                    <h2>все<br> услуги</h2>
                    <a class="mask" href="#"></a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock body %}