.map
{
    height: 350px;
    width: 350px;
}


.main-map{
    margin: 0 0 10px 0;
}
.map-text{
    width: 165px;
    padding: 18px 0 18px 11px;
}
.map-text h2{
    padding: 0 0 5px 0;
    font-size: 13px;
    color: #ff5a00;
}
.map-text h2 a{
    color: #0096ff;
    font-family: 'GothamPro-Bold';
    border-bottom: 1px solid #bfe5ff;
}
.map-text h2 a:hover{
    border-bottom: none;
}
.map-text p{
    color: #000;
    font-size: 12px;
    padding: 0 0 0 0;
}
.big-map{
}
.main-map{
    position: relative;
    overflow: hidden;
    background-color: #e5e3df;
}
.main-map i{
    position: absolute;
    display: block;
//box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75) ;
}
.map-top {
    top: -15px;
    left: 0;
    right: 0;
    height: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75) ;
}
.map-right {
    right: -15px;
    top: 0;
    bottom: 0;
    width: 15px;
    box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.75) ;
}
.map-bottom {
    bottom: -15px;
    left: 0;
    right: 0;
    height: 15px;
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.75) ;
}
.map-left {
    left: -15px;
    top: 0;
    bottom: 0;
    width: 15px;
    box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.75) ;
}
.map-list-link{
    position: absolute;
    top: 3px;
    left: 5px;
    width: 53px;
    height: 34px;
    background-image: url(../img/map-list.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #ff5a00;
    border: none;
    display: block;
    padding: 15px 11px 0 34px;
    font-size: 10px;
    line-height: 11px;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.map-list-link:hover{
    text-decoration: underline;
}


.white-back-block{
    position: relative;
    background-color: #FFF;
    margin: 0 0 10px 0;
    padding: 41px 0 30px 125px;
}
.map-list li{
    display: inline-block;
    width: 24%;
    padding: 0 0 14px 0;
    background-image: none;
}
.num-block{
    height: 75px;
    overflow: hidden;
    padding: 0 22% 0 0;
}
.num-block .num{
    float: left;
    width: 15px;
    overflow: hidden;
    color: #aaa;
    font-size: 10px;
    height: 100%;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.num-block .n-b-text h2{
    padding: 0 0 6px 0;
    font-size: 13px;
    color: #ff5a00;
}
.num-block .n-b-text h2 a{
    color: #0096ff;
    border-bottom: 1px solid #bfe5ff;
}
.num-block .n-b-text h2 a:hover{
    border-bottom: none;
}
.num-block .n-b-text p{
    color: #000;
    font-size: 12px;
    padding: 0 0 0 0;
    line-height: 14px;
}
.to-map-link{
    position: absolute;
    top: 14px;
    left: 12px;
    width: 60px;
    background-image: url(../img/map-list-link.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #ff5a00;
    border: none;
    display: block;
    padding: 4px 0 5px 27px;
    font-size: 10px;
    line-height: 11px;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
.to-map-link:hover{
    text-decoration: underline;
}

.address {
    display: block;
}